
.centrer{
    background-color: blue;
}

/*.reinit {
    position: absolute;
    padding:60px;
     width: 700px; height: 400px; top:250px; bottom:0; left:0; right: 0; margin: auto; border: solid 1px black

} */

