{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

        {% block stylesheets %}

<link href="/assets/css/styles.css" rel="stylesheet">
        {% endblock %}


{% block body %}



<section class="container my-3">
<div class="reinit">
    <div class="centrer">
    <div class="row">
        <div class="col">
            <h1>Réinitialisation de mot de passe</h1>
            {{ form_start(requestPassForm) }}
<div class="col mb-3"></div>
                {{ form_row(requestPassForm.mailUtilisateur) }}
<div class="col mb-3"></div>
                <button type="submit" class="btn btn-md ft-medium text-light rounded theme-bg">Enregistrer</button>
            {{ form_end(requestPassForm) }}
        </div>
    </div>
    </div>
</div>
</section>





{% endblock %}