{% extends 'base.html.twig' %}


{% block title %}Réinitialisation de mot de passe{% endblock %}


{% block body %}


<section class="container my-3">
<div class="reinit">
        <div class="row mt-5">
            <div class="col mt-4 mb-5 text-center">
        <h1>Réinitialisation de mot de passe</h1>
		</div>
{{ form_start(passForm) }}
		<div class="col mb-5">
			<label>Saisissez votre mot de passe</label>
			{{ form_row(passForm.password.first) }}
		</div>
		<div class="col mb-5">
			<label>Ressaisissez votre mot de passe</label>
			{{ form_row(passForm.password.second) }}
		</div>
		<div class="col mb-3">
            <button type="submit" class="btn btn-md ft-medium text-light rounded theme-bg">Valider</button>
		</div>
{{ form_end(passForm) }}
<div class="py-3">© Lebondon 2022</div>
</section>

{% endblock %}