{% extends 'base.html.twig' %}


{% block title %}Réinitialisation de mot de passe{% endblock %}


{% block body %}

<div class="goodup-dashboard-content">

        <h1>Réinitialisation de mot de passe</h1>
            {{ form_start(passForm) }}
		<div class="col mb-3"></div>
			<label>Saisissez votre mot de passe</label>
		    {{ form_row(passForm.password.first) }}
		<div class="col mb-3"></div>
			<label>Ressaisissez votre mot de passe</label>
			{{ form_row(passForm.password.second) }}
		<div class="col mb-3"></div>
            <button type="submit" class="btn btn-md ft-medium text-light rounded theme-bg">Enregistrer</button>
            {{ form_end(passForm) }}
</div>

{% endblock %}